<script>
    import {scaleLinear} from 'd3-scale';

    export let data=[];
    export let y_domain;
    export let wk_num;

    //$: console.log(data['electricity'])

    const xScale = scaleLinear()
        .domain([0,168])
        .range([0,168]);
    
    let max_y = 200;
    const yScale = scaleLinear()
        .domain(y_domain)
        .range([0,100]);


    function path_generator(d,type,total_idx){
        let path = 'M 0,'+max_y/2;
        d.forEach((value,idx) => {
            if(type=='gas'){
                path += ' ' + xScale(idx) + ',' + (max_y/2+yScale(value));
            }
            else{
                path += ' ' + xScale(idx) + ',' + (max_y/2-yScale(value));
            }
        });
        path += ' '+ xScale(total_idx) +','+max_y/2+' 0,'+max_y/2;
        return path;
    }

</script>

<svg>
    
    
    <path d={path_generator(data['electricity'],'elec',data['electricity'].length)} 
        fill="steelblue" fill-opacity=1 stroke="steelblue" stroke-opacity=1/>
    <path d={path_generator(data['gas'],'gas',data['gas'].length)} 
        fill="yellow" fill-opacity=1 stroke="orange" stroke-opacity=1/>
    <line x1={0} y1={max_y/2} x2={xScale(data['electricity'].length)} y2={max_y/2} stroke="black"/>
   
</svg>
