<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import {extent} from 'd3-array';
  import Plot from "./_design_3_plot.svelte";

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let data = null;
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  });

  let transformed_data = {};
  let y_range_e, y_range_g, y_range;

  $:{
    if(!data){
      console.log("Waiting for data to load...")
    }
    else{
      data.forEach((d) => {
        // Add each new city
        if(!(d.week in transformed_data)){
          transformed_data[d.week] = {};
          transformed_data[d.week]["electricity"] = [];
          transformed_data[d.week]["gas"] = [];
        }

        transformed_data[d.week]["electricity"].push(d.total_electrity);
        transformed_data[d.week]["gas"].push(d.total_gas);
      });
      y_range_e = extent(data.map(d => d.total_electrity));
      y_range_g = extent(data.map(d => d.total_gas));
      y_range = [Math.min(y_range_e[0],y_range_g[0]),Math.max(y_range_e[1],y_range_g[1])];
    } 
    //console.log(transformed_data)
  }


</script>



{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <!-- Title/City -->
      <text font-size=25 text-anchor="middle" x={innerWidth/2} y={innerHeight-40} font-weight="bold" font = "Comic Sans MS"> Chicago </text>

      <!-- Vertical line -->
      <line x1={innerWidth/2} y1={innerHeight-75} x2={innerWidth/2} y2={40} stroke="black" stroke-width="1"/>

      <!-- Week 1 -->
      <g transform="translate({(innerWidth/2)-35},{innerHeight-300}) rotate(-20)">
        <Plot data={transformed_data['48']} y_domain={y_range} wk_num="1"/>
      </g>

      <!-- Week 2 -->
      <g transform="translate({(innerWidth/2)+35},{innerHeight-370}) scale(-1,1) rotate(-20)">
        <Plot data={transformed_data['49']} y_domain={y_range} wk_num="2"/>
      </g>

      <!-- Week 3 -->
      <g transform="translate({(innerWidth/2)-35},{innerHeight-440})rotate(-20)">
        <Plot data={transformed_data['50']} y_domain={y_range} wk_num="3"/>
      </g>

      <!-- Week 4 -->
      <g transform="translate({(innerWidth/2)+35},{innerHeight-510}) scale(-1,1) rotate(-20)">
        <Plot data={transformed_data['51']} y_domain={y_range} wk_num="4"/>
      </g>

      <!-- Week 5 -->
      <g transform="translate({(innerWidth/2)-35},{innerHeight-600}) rotate(-20)">
        <Plot data={transformed_data['52']} y_domain={y_range} wk_num="5"/>
      </g>

      <!-- Legend -->
      <rect x={innerWidth-100} y={innerHeight-50} width="10" height="10" rx="3" 
        fill="steelblue" fill-opacity=1 stroke="steelblue" stroke-opacity=1/>
      <text font-size=13 x={innerWidth-85} y={innerHeight-42}> electricity </text>

      <rect x={innerWidth-100} y={innerHeight-30} width="10" height="10" rx="3" 
        fill="orange" fill-opacity=1 stroke="orange" stroke-opacity=1/>
      <text font-size=13 x={innerWidth-85} y={innerHeight-22}> gas </text>  

    </g>
  </svg>
{/if}


<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
