<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import RadialPlot from "./_design_2_city.svelte";

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  let datapoints = null;
  onMount(async () => {
    datapoints = await json("/data/daily_heating_cooling.json");
  });
  let towns = ["Chicago", "Baltimore", "Los Angeles"];
</script>

{#if !datapoints}
  <p>Please wait, data is loading!</p>
{:else}
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <!-- creating the circles -->
      {#each towns as town, idx}
        <g transform="translate({(idx * innerWidth) / 3},0)">
          <text font-size="10" x={innerWidth / 2 - 196} y={innerHeight / 2 - 80}> 0 </text>
          <text font-size="10" x={innerWidth / 2 - 113} y={innerHeight / 2 + 3}> 3 </text>
          <text font-size="10" x={innerWidth / 2 - 196} y={innerHeight / 2 + 87}> 6 </text>
          <text font-size="10" x={innerWidth / 2 - 278} y={innerHeight / 2 + 3}> 9 </text>

          <circle cx={innerWidth / 2 - 193} cy={innerHeight / 2} r="70" fill="none" stroke="black"/>
          <RadialPlot {datapoints} {town} cx={innerWidth / 6} cy={innerHeight / 2}/>

          <line x1={innerWidth / 2 - 268} y1={innerHeight / 2} x2={innerWidth / 2 - 119} y2={innerHeight / 2} stroke="black"/>
          <line x1={innerWidth / 2 - 193} y1={innerHeight / 2 - 75} x2={innerWidth / 2 - 193} y2={innerHeight / 2 + 75} stroke="black" />
        </g>

      {/each}
      <!-- creating text and legend  -->
      <text font-size="9" x={165} y={50} text-anchor="middle"> month </text>
      <line x1={170} y1={75} x2={170} y2={70} stroke="black" />
      <line x1={170} y1={75} x2={166} y2={73} stroke="black" />
      <path d=" M 120 35 A 90 90 0 0 1 170 75  " stroke="black" fill="none" />

      <text font-size="10" x={innerWidth / 2 - 285} y={margin.top + 206}> Cooling </text>
      <rect x={innerWidth / 2 - 240} y={margin.top + 195} width="10" height="10" fill="steelblue" fill-opacity="0.5" stroke="blue" stroke-opacity="1" />
      
      <text font-size="10" x={innerWidth / 2 - 285} y={margin.top + 220}> Heating </text>
      <rect x={innerWidth/2 - 240} y={margin.top + 210} width="10" height="10" fill="#ef5350" fill-opacity="0.5" stroke="#ef5350" stroke-opacity="1"/>

      <text x={innerWidth / 9 + 5} y={innerHeight / 10}> Chicago </text>
      <text x={innerWidth / 9 + innerWidth / 3} y={innerHeight / 10}> Baltimore </text>
      <text x={innerWidth / 9 + (2 * innerWidth) / 3 - 9} y={innerHeight / 10}> Los Angeles </text>
    </g>
  </svg>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>