<script>
  let clicked = false;
</script>

<div>
  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    click here
  </button>
  {#if button.onclick == false}
    <p>"you have to click the button"</p>
  {:else}
    <p>"you have clicked the button!"</p>
  {/if}
</div>
