<script>
    
    const mylist = ['football','fast cars','having no homework']
    const myself = { name: 'Siu-cheung', hobbies: mylist};

</script>

<p> My name is {myself.name} and these are some of my favourite things: {myself.hobbies}.</p>