<script>
    function circle(x) {
        return 2*x*Math.PI;
        }

    const c = circle(2);
    console.log(c)
</script>

<p> The circumference of a circle with radius 2m is {c.toFixed(2)}m .</p>