<script>
  // Properties
  // export let data = []
  const continents = ["all","europe", "asia", "americas", "africa"];
  export let currentyear = 1800
  export let selectedContinent = 'all'

  function Year() {
    if (currentyear >= 2014) 
      {currentyear = 1800}
    else 
      {currentyear++}
  }

  let pause = true;
  let loop;
  const Start = () => {
      if (pause){
         loop = setInterval(Year,50)
         pause = false;}
      else {
        pause = true;
        clearInterval(loop)
      }
  }

  const Reset = () => {
    currentyear = 1800;
	  clearInterval(loop)
    pause = true;
  }
</script>

<div class="row">
  <div class="col-4">
    <button type="button" class="btn btn-primary" on:click={Start}>{pause ? 'Start':'Stop'}</button>
    <button type="button" class="btn btn-primary" on:click={Reset}>Reset</button>
  </div>

  <div class="col-5">
    <label class="form-label col-sm-10">Year: {currentyear}
      <input type="range" class="form-range" min='1800' max='2014' bind:value={currentyear}>
    </label>
  </div>

  <div class="col-3">
    <select id="continent-select" class="form-select" bind:value={selectedContinent}>
      {#each continents as continent}
        <option>{continent}</option>
      {/each}
    </select>
  </div>
</div>
