<script>

    let counter = 0;
    function clicks(){
        counter += 1;
    }

    function reset(){
        counter = 0;
    }
</script>


<button class="btn btn-primary" on:click={clicks} >Clicked {counter} times</button>
<button class="btn btn-danger" on:click={reset}> Reset</button>
