<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length + 1;
  let CurrentIndex = index - 1;

  // Color
  let color = "darkred";

  // Opacity
  let X = 0.3

// It's Lights out...
  const LightsOut = setInterval(Countdown,1000);

// Countdown
  function Countdown() {
    if (CurrentIndex == -1) {AndAwayWeGo();}
    CurrentIndex--;
  }

  $: color = CurrentIndex == -1 ? "darkgreen":color;

// And away we go!!
function AndAwayWeGo(){ 
    clearInterval(LightsOut);
  }


</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as point, i}
    <circle cx={point} cy={innerHeight/2} r=10 fill={color} opacity={i >= CurrentIndex ? 1 : 0.3}/>;
    {/each}
  </g>
</svg>
