<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

let selectedContinent = 'all';
let currentyear = 1800; 
let FilterContinent;

function GetData (data, selectedContinent, currentyear) { 
  const FilterYear = data.filter(d => d.currentyear == currentyear);
  if (selectedContinent == 'all') {
    FilterContinent = FilterYear[0]['countries'];
  } 
  else {
    FilterContinent = FilterYear[0]['countries'].filter(d => d.continent == selectedContinent);
  };
 return FilterContinent
}
</script>




{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={GetData(data, selectedContinent, currentyear)}/>
    <Controls bind:currentyear= {currentyear} bind:selectedContinent={selectedContinent} {data}/>
  </div>
   
{/if}
