<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
const values = [2, 4, 6, 7, 9];

// Import 3d-scale
import { scaleLog } from 'd3-scale'; 
import {axisBottom} from 'd3-axis';
import{select} from 'd3-selection';

// construct
const scaleX = scaleLog().domain([1,10]).range([0,800])
function xAxis(x) {axisBottom(scaleX)(select(x))};
</script>

<svg viewBox="0 0 {width} {height}" >
  <text x=394 y=100 text-anchor='middle'>x label</text>
  <g transform="translate({margin.left},{margin.top})"  >  
    {#each values as value}
    <circle cx={scaleX(value)} cy=35 r=10  />;
    {/each}   
  </g> 
    <g transform ="translate({margin.left},70)" use:xAxis>
  </g>
</svg>
  
<style>
circle {
fill: steelblue;
}
text{
font-size:"10";
fill:'currentColor';
text-anchor:'middle'
}
</style>
