<script>
  import { scaleLinear } from 'd3-scale';
  import { scaleOrdinal } from 'd3-scale';
  import { schemeDark2 } from 'd3-scale-chromatic';
  import { scaleLog } from 'd3-scale'; 
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
 
  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
	const scaleX = scaleLinear().domain([0,10]).range([0,innerWidth]);
  const scaleY = scaleLinear().domain([0,4]).range([innerHeight,0]);
  const scaleColour = scaleOrdinal().domain([]).range(schemeDark2);
</script>


		

<svg viewBox="0 0 {width} {height}"> 
  <g transform="translate({margin.top},{margin.left})">

  {#each values as value}
    <circle cx={scaleX(value.x)} cy={scaleY(value.y)} r='5'  style={"fill:" + scaleColour(value.category)}/>
   
    <line x1={scaleX(value.x)} y1={scaleY(value.y)+5}  x2={scaleX(value.x)} y2={innerHeight} stroke="black"></line>
    
    <text x={scaleX(value.x)} y={scaleY(value.y)-10}> {value.y} </text>
  
  {/each}

<line font-size="20"  x1="0" y1="75"  x2='790' y2='75' stroke="black"></line>

  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>

