<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  // Import
  import {scaleLinear} from 'd3-scale';
  import {scaleBand} from 'd3-scale';
  import {axisBottom} from 'd3-axis';
  import {axisLeft} from 'd3-axis';
  import {select} from 'd3-selection';

  // Construct
  const scaleX = scaleBand().domain(data.map(d=>d.service)).range([0,innerWidth]).padding(0.2);
  const scaleY = scaleLinear().domain([0,3]).range([innerHeight,0]);

  function xAxis(x) {axisBottom(scaleX)(select(x))};
  function yAxis(y) {axisLeft(scaleY)(select(y))};
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as d}
      <rect x={scaleX(d.service)} y={scaleY(d.viewers)} width=68 height={innerHeight-scaleY(d.viewers)} fill = "steelblue"/>
    {/each}  
  </g>
 
  <g transform ="translate({margin.left},{innerHeight+10})" use:xAxis/>
  <g transform ="translate({margin.left},{margin.top})" use:yAxis/>
  <text transform = "translate({30},{200}) rotate(270)" style="font-size:small">Viewers (Million)</text>
</svg>
